<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.uxkit.mp4">

    <application>
        <provider
            android:name="com.voxeet.uxkit.mp4.manifests.MP4MediaPresentationProviderManifestComponent"
            android:authorities="${applicationId}.manifests.MP4MediaPresentationProviderManifestComponent"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
