<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.uxkit.screenshare">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="com.voxeet.uxkit.screenshare.manifests.ScreenShareMediaPresentationProviderManifestComponent"
            android:authorities="${applicationId}.manifests.ScreenShareMediaPresentationProviderManifestComponent"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
