<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.uxkit.screenshare">

    <application>
        <provider
            android:name="com.voxeet.uxkit.screenshare.manifests.ScreenShareMediaPresentationProviderManifestComponent"
            android:authorities="${applicationId}.manifests.ScreenShareMediaPresentationProviderManifestComponent"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
