<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.voxeet.sdk.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="fr.voxeet.sdk.sample.application.SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".connection.VoxeetConnectionService"
            android:label="@string/connection_service"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="voxeet"
            android:value="false" />
        <meta-data
            android:name="prod"
            android:value="true" />

        <!-- if a push notification is received from a killed-state app, the accept/declined calls will arrive there -->
        <!-- Note : any override in the code will replace this metadata -->
        <meta-data
            android:name="voxeet_incoming_class"
            android:value="com.voxeet.toolkit.activities.notification.DefaultIncomingCallActivity" />

        <!-- if a push notification is received from killed-state app, accepted calls will arrive there // possible override in code -->
        <!-- Note : any VoxeetAppCompat activity started will override this metadata -->
        <meta-data
            android:name="voxeet_incoming_accepted_class"
            android:value="fr.voxeet.sdk.sample.activities.MainActivity" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.voxeet.toolkit.activities.notification.DefaultIncomingCallActivity"
            android:launchMode="singleInstance">
            <!-- exteDefaultIncomingCallActivityvity -->
        </activity>

        <!-- to manage push notification -->
        <service android:name="voxeet.com.sdk.firebase.VoxeetFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="voxeet.com.sdk.firebase.VoxeetFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>