<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.uxkit.service">

    <application android:supportsRtl="true">
        <service android:name="com.voxeet.uxkit.service.VoxeetSystemService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera|microphone" />
        </service>

        <provider
            android:name="com.voxeet.uxkit.service.manifests.VoxeetSystemServiceManifestComponent"
            android:authorities="${applicationId}.manifests.VoxeetSystemServiceManifestComponent"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".OnLeaveActionBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".OnUnMuteActionBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".OnMuteActionBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
