<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.uxkit.youtube">

    <application>
        <provider
            android:name="com.voxeet.uxkit.youtube.manifests.YoutubeMediaPresentationProviderManifestComponent"
            android:authorities="${applicationId}.manifests.YoutubeMediaPresentationProviderManifestComponent"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
