<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.uxkit.incoming">

    <application>

        <!-- Default service if the DefaultNotificationIncomingNotification is used -->
        <!-- nothing prevent its reuse tho -->
        <service
            android:name=".implementation.DefaultIncomingNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera|microphone" />

        <!-- Default service if the DefaultNotificationIncomingNotification is used -->
        <!-- nothing prevent its reuse tho -->
        <receiver
            android:name=".manifest.DismissNotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Default service if the DefaultNotificationIncomingNotification is used -->
        <!-- nothing prevent its reuse tho -->
        <receiver
            android:name=".implementation.AcceptedNotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".implementation.DefaultAndroid12BounceActivity"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
